public/
/npm-debug.log
/node_modules/
.tern-port
/static/
/mailing-list-broadcasts.org.txt
/TODO.org

# resume
/resume/*.docx
/resume/*.html
/resume/*.log
/resume/*.pdf
/resume/*.rtf
/resume/*.tex
/resume/*.tuc
