<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
    <section class="hero jumbotron">
      <div class="container">
        <h1>
          {{ .Title }}
        </h1>
      </div>
    </section>
    <section class="content page">
      <div class="container page-{{ .Title | urlize }}">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="posts">
				      {{ range .Data.Pages }}
              <div class="post">
                <h1 class="post-tile">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h1>
                <p>{{ .Summary }}</p>
                {{ if .Truncated }}
                <div class="read-more-link">
                  <a href="{{ .RelPermalink }}">Continue Reading&hellip;</a>
                </div>
                {{ end }}
              </div>
              <hr/>
				      {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
		{{ partial "footer.html" . }}
	</body>
</html>

