<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
    <section class="content page">
      <div class="container page-{{ .Title | urlize }}">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <header>
              <h1>{{ .Title }}</h1>
              <hr/>
            </header>
				    {{ .Content }}
          </div>
        </div>
      </div>
    </section>
		{{ partial "footer.html" . }}
	</body>
</html>
