<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="col">
          <div class="social-icons" style="text-align: center">
            <a href="http://twitter.com/ryanesc" target="_blank">
              <i class="fa fa-twitter-square"></i>
            </a>
            <a href="https://www.linkedin.com/in/ryaneschinger" target="_blank">
              <i class="fa fa-linkedin-square"></i>
            </a>
            <a href="https://github.com/ryane" target="_blank">
              <i class="fa fa-github-square"></i>
            </a>
            <a href="mailto:ryan@ryaneschinger.com" target="_blank">
              <i class="fa fa-envelope-square"></i>
            </a>
          </div>
          <p class="ddt">&copy; 2015 <a href="/">ryaneschinger.com</a>. All right reserved.</p>
          <p class="ddt">
            Designed, developed, and tested in Brooklyn.
          </p>
        </div>
      </div>
    </div>
</footer>
