<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
    <section class="hero jumbotron">
      <div class="container">
        <h1>
          {{ .Title }}
        </h1>
      </div>
    </section>
    <section class="content page">
      <div class="container page-{{ .Title | urlize }}">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1>
              The page you are looking for cannot be found. Why not try one of these recent articles?
            </h1>
            <hr/>
            <div class="posts">
				      {{ range first 5 .Data.Pages }}
              <div class="post">
                <h1 class="post-tile">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h1>
                <p>{{ .Summary }}</p>
              </div>
              <hr/>
				      {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
		{{ partial "footer.html" . }}
	</body>
</html>
