<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
    <section class="hero jumbotron">
      <div class="container">
        <h1>
          Deliver better software, faster.
        </h1>
      </div>
    </section>
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h3>
              Hello! I’m Ryan Eschinger and my goal is to help you deliver better software.
            </h3>
            <p>
              <img src="/images/re.jpg" class="avatar" />
              With over 15 years experience in operations and application development, I have helped organizations of all shapes and sizes <a href="#">automate their infrastructures</a>, establish automated, repeatable deployments and build virtualized development environments that are consistent with production.
            </p>
            <hr />
            <ul>
              <li>
                <strong>Overwhelmed by the sheer number of services, features, and options on the AWS platform?</strong>
                AWS is an extremely powerful and cost-effective platform for businesses of all sizes. But the learning curve can be steep. I can help you navigate the complex matrix of options and build an application architecture that is <a href="#">automated</a>, scalable, secure, and doesn't cost an arm and a leg.
              </li>
              <li>
                <strong>Are you frustrated by high costs and lack of control when hosting your application on Heroku?</strong>
                Have you been considering making the jump to AWS? I can help you <a href="#">build an AWS infrastructure</a> that is more powerful, flexible, cost-effective and as easy to manage as your existing Heroku setup.
              </li>
              <li>
                <strong>Are your application deployments slow, flaky and sources of stress?</strong>
                No matter the size of your organization, the benefits of <a href="">continuous delivery</a> are clear: increased efficiency and flexibility, less risk, and the ability to react more quickly in an ever-changing marketplace. And you don't have to be the next Netflix or Etsy to implement a solid continuous delivery process. I can help get you there.
              </li>
              <li>
                <strong>"It works on my machine." Never hear those words again.</strong>
                How much productivity and development time is lost trying to get your application running for a new developer or on a new laptop? I can help get your developers up and running within minutes as opposed to days with reproducible, virtualized development environments.
              </li>
              <li>
                In some cases, I am also available for custom web application development. I am particular about the projects I take on so please get in touch below if you want to discuss your business.
              </li>
            </ul>
            <p>
              If you have a problem to solve, I'd love to help. <a href="mailto:ryan@ryaneschinger.com">Get in touch</a>.
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="col">
              <div class="social-icons" style="text-align: center">
                <a href="http://twitter.com/ryanesc" target="_blank">
                  <i class="fa fa-twitter-square"></i>
                </a>
                <a href="https://www.linkedin.com/in/ryaneschinger" target="_blank">
                  <i class="fa fa-linkedin-square"></i>
                </a>
                <a href="https://github.com/ryane" target="_blank">
                  <i class="fa fa-github-square"></i>
                </a>
                <a href="mailto:ryan@ryaneschinger.com" target="_blank">
                  <i class="fa fa-envelope-square"></i>
                </a>
              </div>
              <p class="ddt">&copy; 2015 <a href="/">ryaneschinger.com</a>. All right reserved.</p>
              <p class="ddt">
                Designed, developed, and tested in Brooklyn, New York.
              </p>
            </div>
          </div>
        </div>
    </footer>
	</body>
</html>
