<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
    <section class="hero jumbotron">
      <div class="container">
        <h1>
          I help businesses deliver software that outperforms the competition.
        </h1>
      </div>
    </section>
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h3>
              Are you confident with your software infrastructure and deployment processes?
            </h3>
            <p>
              I use software automation to establish repeatable infrastructure for production and development environments. I can help you develop a rock-solid continuous delivery pipeline that will let you release software frequently and with confidence.
            </p>
            <p>
              I focus on what is important to your business. I won't suggest that you use the latest technology or adopt the latest trendy development practices unless there will be a clear and measurable impact on the bottom line of your business.
            </p>
            <p>
              If you have a problem to solve, I'd love to help. <a href="mailto:ryan@ryaneschinger.com">Let's chat</a>.
            </p>
            <hr />
            <ul>
              <li>
                <strong>Overwhelmed by the sheer number of services, features, and options on the AWS platform?</strong>
                AWS is an extremely powerful and cost-effective platform for businesses of all sizes. But the learning curve can be steep. I can help you navigate the complex matrix of options and build an application architecture that is <a href="/services/infrastructure-automation/">automated</a>, scalable, secure, and doesn't cost an arm and a leg.
              </li>
              <li>
                <strong>Are you frustrated by high costs and lack of control when hosting your application on Heroku?</strong>
                Have you been considering making the jump to AWS? I can help you <a href="/services/aws-power-up/">build an AWS infrastructure</a> that is more powerful, flexible, cost-effective and as easy to manage as your existing Heroku setup.
              </li>
              <li>
                <strong>Are your application deployments slow, flaky and sources of stress?</strong>
                No matter the size of your organization, the benefits of <a href="/services/continuous-delivery/">continuous delivery</a> are clear: increased efficiency and flexibility, less risk, and the ability to react more quickly in an ever-changing marketplace. And you don't have to be the next Netflix or Etsy to implement a solid continuous delivery process. I can help get you there.
              </li>
              <li>
                <strong>Does it take 2 days or more to configure a new development environment?</strong>
                How much productivity and development time is lost trying to get your application running for a new developer or on a new laptop? I can help get your developers up and running within minutes as opposed to days with reproducible, virtualized development environments. "It works on my machine." Never hear those words again.
              </li>
            </ul>
            <p>
              In some cases, I am also available for custom web application development. I am particular about the projects I take on so please <a href="mailto:ryan@ryaneschinger.com">get in touch</a> if you want to discuss your business.
            </p>
          </div>
        </div>
      </div>
    </section>
		{{ partial "footer.html" . }}
	</body>
</html>
