body {
  /* min-height: 2000px; */
  padding-top: 51px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.8em;
  line-height: 1.6;

  p {
    font-family: 'Roboto Slab', serif;
  }
}

.navbar {
  background-color: #fff;
  margin-bottom: 0px;
}

.navbar-default {
  .navbar-brand {
    color: #333;
  }

  .navbar-nav > li > a {
    color: #333;
  }

  .navbar-nav > .active > a {
    background-color: #fff;
    color: #3498db;
    font-weight: bold;
  }
}

.hero {
  text-align: center;
  background-color: #3498db;

  h1 {
    color: #fff;
  }
}

.content {
  li {
    padding-bottom: 10px;

    strong {
      /* background-color: #ffffe0 */
    }
  }
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 0;
  margin: 0 1em;
  float: left;
}

footer {
  color: #fff;
  background-color: #454e59;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 20px;

  .ddt {
    font-size: smaller;
    text-align: center;

    a {
      color: #fff;
    }
  }

  .social-icons {
    padding-bottom: 10px;

    a {
      color: #fff !important;
    }
    .fa {
      font-size: 2em;
      padding: 0 6px;
    }
  }
}